//////////////////
//DEFAULT MIXINS//
//////////////////
@mixin defaultHtml{
    font-size:16px;
    font-family:$sans;
    line-height: 1.6;
    font-weight:$wmd;
}
@mixin stripBrowser{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    &:after,
    &:before{
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
}
//font things
@mixin famWei{
    font-weight: $whv;
    font-family: $serif;
}
@mixin fontSiSp($val,$val2){
    font-size:$val;
    letter-spacing:$val2;
    @content;
}
@mixin fslh($val,$val2){
    font-size:$val;
    line-height: $val2;
}
@mixin padFont($val,$val2,$val3,$val4,$val5){
    font-size:$val;
    padding:$val2 $val3 $val4 $val5;
}
@mixin fontStyle($val,$val2,$val3,$val4,$val5,$val6){
    @include padFont($val,$val2,$val3,$val4,$val5);
    color:$val6;
}
/////////////////
//COLOUR MIXINS//
/////////////////
@mixin bgcolor($val){
    background-color: $val;
}
@mixin xcolor($val){
    color:$val;
}
@mixin bg($val,$val2){
    @include bgcolor($val);
    @include xcolor($val2);
}
/////////////////
//MIXIN CONTENT//
/////////////////
@mixin dis($val){
    display:$val;
}
//flex things
@mixin flexMaster($val,$val2,$val3,$val4){
    @include dis($val);
    @include flexProp($val2,$val3,$val4);
}
@mixin flexProp($val,$val2,$val3){
    flex-direction: $val;
    justify-content: $val2;
    align-items: $val3;
    @content;
}
@mixin flexBa($val){
    flex-basis: $val;
}
//float things
@mixin floaters($val,$val2){
    @include dis($val);
    float: $val2;
}