//Colour Vars
$wht: #fff;
$lbl: #C7F7FF;
$mbl: #89C0C9;
$dbl: #3a5E63;

$lbr:#C9A689;
$dbr:#7C593C;

$lgr:#d4d4d4;
$dgr:#222;

/////////
//FONTS//
/////////
//Font Family Vars
$serif:Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
$sans:'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
//Font Weight Vars
$wli:100;
$wmd:400;
$whv:700;

////////////////////////////////////////
//SIZING && FONT SIZING && LINE HEIGHT//
////////////////////////////////////////
$no: 0;
$qt:0.25rem;
$half:0.5rem;
$xsm:1rem;
$fsm:1.414rem;
$smp:1.999rem;
$sm:2rem;
$md:3.998rem;
$xxl:7rem;
$lhmax:12.7936;
/////////////
//POSITIONS//
/////////////
$pA:absolute;
$pR:relative;
//////////
//WIDTHS//
//////////
$mobi:400px;
$fil:100%;
$haf:50%;
$qua:25%;
////////////////
//DISPLAY VARS//
////////////////
$N: none;
$F: flex;
$B: block;
$IL: inline;
//////////////
//FLEXI VARS//
//////////////

//directions
$co:column;
$rw:row;

//justified-content // align-items
$fs:flex-start;
$sa:space-around;
$str:stretch;
$L:left;
$R:right;
$ctr:center;
